.homeCategoryCard {
  width: 95%;
  margin: 0 auto;
  height: auto;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-radius: 5px;
}
.homeCategoryCard img {
  height: 200px;
  width: auto;
  object-fit: contain;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.homeCategoryCard img:hover {
  transform: scale(1.1);
}
/* BEM */
/* Methodlogy */

/* B - Block  E- Element M-Modifier






*/
